@charset "UTF-8";
body {
  font-family: sans-serif;
  font-size: 12pt;
  line-height: normal;
  color: #6a6a6a
  margin-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(192, 200, 255, 0.66);
}
h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 60px;
  color: #fff
  text-shadow: 2px 2px 2px #aaa;
  text-decoration: none;
  margin-bottom: 0pt
}
h2 {
  font-family: 'Syncopate', sans-serif;
  font-size: 18px;
  text-shadow: 2px 2px 2px #aaa;
  margin-top: 2pt
}
h5 {
  font-family: 'Montserrat', serif;
  font-size: 14px;
  text-shadow: 2px 2px 2px #fff;
}
aside {
  align-content: center;
  height: 100px;
  width: 480px;
}
img {
    max-width: 100%;
    height: auto;
}
.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
